/* chau margen xd */
* {
	margin: 0;
	padding: 0;
}

/* navbar algo bonito */
ul {
	list-style-type: none;
}
ul.navbar {
	display:flex;
	overflow: hidden;
	background-color: #333;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.navbar li a,
ul.navbar li.text {
	display: block;
	color: white;
	padding: 14px 16px;
}
ul.navbar li a {
	text-decoration: none;
	background-color: #444;
}
ul.navbar li a:hover {
	background-color: #111;
}

ul.navopts {
	display: block;
	overflow: hidden;
	background-color: #0004;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* mucho texto */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EEE;
}

.navbarbox {
	display: flex;
	background-color: #222;
	justify-content: space-between;
}

div.centernotif {
	padding: 8px;
	margin: auto;
	width: 80%;
	background-color: #94c2ff;
	color: black;
	text-align: center;
	font-size: larger;
}

.centermini {
	padding: 8px;
	margin: auto;
	width: 80%;
	background-color: #fff;
}

a.btn {
    padding: 1px 2px;
    border: 1px outset buttonborder;
    border-radius: 4px;
    /*color: buttontext;
    background-color: buttonface;*/
    text-decoration: none;
	background-color: #ccc;
	color: #000;
}